node_modules/
dist/
build/
.spago/
output/
.vscode/
.idea
*.log src_old
*.old.js
phaserTilemapfix
*.zip
*.xcf
*.wav
legacy*
*.txt
dump/
*.docx
*.patch
*.bak*
*.old*
higherVolume/
package-lock.json
.DS_Store
*.swp
.DS_Store
test/screens/
coverage/
*.log
*.apk
.psc-ide-port
